In [1]:
import findspark
findspark.init()
 
 
from pyspark.sql import SparkSession
#sparksession 드라이버 프로세스 얻기
spark = SparkSession.builder.appName("sample").master("local[*]").getOrCreate()
#클러스터모드의 경우 master에 local[*] 대신 yarn이 들어간다.
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)
#jupyter환경에서만 가능한 config, .show()메소드를 사용할 필요없이 dataframe만 실행해도,정렬된 프린팅을 해준다.

In [2]:
# Test the setup
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [8]:
data = [("Alice",25), ("Bob",30), ("Charlie",35), ("Alice",40)]
rdd = spark.sparkContext.parallelize(data)

In [9]:
print(rdd.collect())

[('Alice', 25), ('Bob', 30), ('Charlie', 35), ('Alice', 40)]

In [11]:
count = rdd.count()
print(count)

4

In [12]:
first_element = rdd.first()
print(first_element)

('Alice', 25)

In [13]:
two_element = rdd.take(2)
print(two_element)

[('Alice', 25), ('Bob', 30)]

In [19]:
rdd.foreach(lambda i : print(i))

In [18]:
mapped_rdd = rdd.map(lambda i : (i[0].upper(), i[1]))

result = mapped_rdd.collect()

print(result)

[('ALICE', 25), ('BOB', 30), ('CHARLIE', 35), ('ALICE', 40)]

In [20]:
filter_rdd = rdd.filter(lambda i : i[1] > 30)
filter_rdd.collect()

[('Charlie', 35), ('Alice', 40)]

In [21]:
reduced_rdd = rdd.reduceByKey(lambda x, y : x + y)
reduced_rdd.collect()

[('Charlie', 35), ('Bob', 30), ('Alice', 65)]

In [24]:
sorted_rdd = rdd.sortBy(lambda x : x[1], ascending=False)
sorted_rdd.collect()

[('Alice', 40), ('Charlie', 35), ('Bob', 30), ('Alice', 25)]

In [27]:
rdd.saveAsTextFile("C:\Users\imfks\Downloads\output.text")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-27-c187d2e7c653>, line 1)