In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
#sparksession 드라이버 프로세스 얻기
spark = SparkSession.builder.appName("sample").master("local[*]").getOrCreate()
#클러스터모드의 경우 master에 local[*] 대신 yarn이 들어간다.
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)
#jupyter환경에서만 가능한 config, .show()메소드를 사용할 필요없이 dataframe만 실행해도,정렬된 프린팅을 해준다.

In [6]:
data_file_path =  "C:/Users/imfks/Downloads/stocks.txt"
df = spark.read.csv(data_file_path, header=True, inferSchema=True)

In [7]:
df.printSchema

<bound method DataFrame.printSchema of +---+----------------+-----------+--------+-------+
| id|            name|   category|quantity|  price|
+---+----------------+-----------+--------+-------+
|  1|          iPhone|Electronics|      10| 899.99|
|  2|         Macbook|Electronics|       5|1299.99|
|  3|            iPad|Electronics|      15| 499.99|
|  4|      Samsung TV|Electronics|       8| 799.99|
|  5|           LG TV|Electronics|      10| 699.99|
|  6|      Nike Shoes|   Clothing|      30|  99.99|
|  7|    Adidas Shoes|   Clothing|      25|  89.99|
|  8| Sony Headphones|Electronics|      12| 149.99|
|  9|Beats Headphones|Electronics|      20| 199.99|
| 10|    Dining Table|  Furniture|      10| 249.99|
| 11|      Study Desk|  Furniture|       8| 149.99|
| 12|          Apples|       Food|     100|    0.5|
| 13|         Bananas|       Food|     150|   0.25|
| 14|         Oranges|       Food|     120|   0.75|
| 15|  Chicken Breast|       Food|      50|   3.99|
| 16|   Salmon Fillet|       Food|      30|   5.99|
| 17|  Leather Jacket|   Clothing|      15| 199.99|
| 18|     Winter Coat|   Clothing|      10| 149.99|
| 19|        Yoga Mat|     Sports|      20|  19.99|
| 20|    Dumbbell Set|     Sports|      15|  49.99|
+---+----------------+-----------+--------+-------+
only showing top 20 rows
>

In [10]:
selected_columns = df.select("id", "name", "price")
selected_columns.show()

+---+----------------+-------+
| id|            name|  price|
+---+----------------+-------+
|  1|          iPhone| 899.99|
|  2|         Macbook|1299.99|
|  3|            iPad| 499.99|
|  4|      Samsung TV| 799.99|
|  5|           LG TV| 699.99|
|  6|      Nike Shoes|  99.99|
|  7|    Adidas Shoes|  89.99|
|  8| Sony Headphones| 149.99|
|  9|Beats Headphones| 199.99|
| 10|    Dining Table| 249.99|
| 11|      Study Desk| 149.99|
| 12|          Apples|    0.5|
| 13|         Bananas|   0.25|
| 14|         Oranges|   0.75|
| 15|  Chicken Breast|   3.99|
| 16|   Salmon Fillet|   5.99|
| 17|  Leather Jacket| 199.99|
| 18|     Winter Coat| 149.99|
| 19|        Yoga Mat|  19.99|
| 20|    Dumbbell Set|  49.99|
+---+----------------+-------+
only showing top 20 rows

In [12]:
filtered_data = df.filter(df.quantity > 10)
filtered_data.show()

+---+----------------+-----------+--------+------+
| id|            name|   category|quantity| price|
+---+----------------+-----------+--------+------+
|  3|            iPad|Electronics|      15|499.99|
|  6|      Nike Shoes|   Clothing|      30| 99.99|
|  7|    Adidas Shoes|   Clothing|      25| 89.99|
|  8| Sony Headphones|Electronics|      12|149.99|
|  9|Beats Headphones|Electronics|      20|199.99|
| 12|          Apples|       Food|     100|   0.5|
| 13|         Bananas|       Food|     150|  0.25|
| 14|         Oranges|       Food|     120|  0.75|
| 15|  Chicken Breast|       Food|      50|  3.99|
| 16|   Salmon Fillet|       Food|      30|  5.99|
| 17|  Leather Jacket|   Clothing|      15|199.99|
| 19|        Yoga Mat|     Sports|      20| 19.99|
| 20|    Dumbbell Set|     Sports|      15| 49.99|
| 24|      Laptop Bag|Accessories|      25| 29.99|
| 25|        Backpack|Accessories|      30| 24.99|
| 28|           Jeans|   Clothing|      30| 59.99|
| 29|         T-shirt|   Clothing|      50| 14.99|
| 30|        Sneakers|   Clothing|      40| 79.99|
+---+----------------+-----------+--------+------+

In [14]:
group_data = df.groupby("category").agg({"quantity" : "sum", "price" : "avg"})
group_data.show

<bound method DataFrame.show of +-----------+-------------+------------------+
|   category|sum(quantity)|        avg(price)|
+-----------+-------------+------------------+
|       Food|          450|2.2960000000000003|
|     Sports|           35|             34.99|
|Electronics|           98| 586.6566666666665|
|   Clothing|          200|  99.2757142857143|
|  Furniture|           41|            141.99|
|Accessories|           55|             27.49|
+-----------+-------------+------------------+
>

In [16]:
df2 = df.select("id", "category").limit(10)
joined_data = df.join(df2, "id", "inner")
joined_data.show

<bound method DataFrame.show of +---+----------------+-----------+--------+-------+-----------+
| id|            name|   category|quantity|  price|   category|
+---+----------------+-----------+--------+-------+-----------+
|  1|          iPhone|Electronics|      10| 899.99|Electronics|
|  2|         Macbook|Electronics|       5|1299.99|Electronics|
|  3|            iPad|Electronics|      15| 499.99|Electronics|
|  4|      Samsung TV|Electronics|       8| 799.99|Electronics|
|  5|           LG TV|Electronics|      10| 699.99|Electronics|
|  6|      Nike Shoes|   Clothing|      30|  99.99|   Clothing|
|  7|    Adidas Shoes|   Clothing|      25|  89.99|   Clothing|
|  8| Sony Headphones|Electronics|      12| 149.99|Electronics|
|  9|Beats Headphones|Electronics|      20| 199.99|Electronics|
| 10|    Dining Table|  Furniture|      10| 249.99|  Furniture|
+---+----------------+-----------+--------+-------+-----------+
>

In [23]:
sorted_data = df.orderBy("price")
                         
sorted_data.show

<bound method DataFrame.show of +---+---------------+-----------+--------+------+
| id|           name|   category|quantity| price|
+---+---------------+-----------+--------+------+
| 13|        Bananas|       Food|     150|  0.25|
| 12|         Apples|       Food|     100|   0.5|
| 14|        Oranges|       Food|     120|  0.75|
| 15| Chicken Breast|       Food|      50|  3.99|
| 16|  Salmon Fillet|       Food|      30|  5.99|
| 29|        T-shirt|   Clothing|      50| 14.99|
| 19|       Yoga Mat|     Sports|      20| 19.99|
| 25|       Backpack|Accessories|      30| 24.99|
| 24|     Laptop Bag|Accessories|      25| 29.99|
| 20|   Dumbbell Set|     Sports|      15| 49.99|
| 28|          Jeans|   Clothing|      30| 59.99|
| 22|   Office Chair|  Furniture|       8| 79.99|
| 30|       Sneakers|   Clothing|      40| 79.99|
|  7|   Adidas Shoes|   Clothing|      25| 89.99|
|  6|     Nike Shoes|   Clothing|      30| 99.99|
| 23|      Bookshelf|  Furniture|      10| 99.99|
| 21|   Coffee Table|  Furniture|       5|129.99|
| 27|        Printer|Electronics|       8|129.99|
|  8|Sony Headphones|Electronics|      12|149.99|
| 11|     Study Desk|  Furniture|       8|149.99|
+---+---------------+-----------+--------+------+
only showing top 20 rows
>

In [24]:
from pyspark.sql.functions import col, desc

sorted_data = df.orderBy(col("price").desc(), col("id").desc())
sorted_data.show

<bound method DataFrame.show of +---+----------------+-----------+--------+-------+
| id|            name|   category|quantity|  price|
+---+----------------+-----------+--------+-------+
|  2|         Macbook|Electronics|       5|1299.99|
|  1|          iPhone|Electronics|      10| 899.99|
|  4|      Samsung TV|Electronics|       8| 799.99|
|  5|           LG TV|Electronics|      10| 699.99|
| 26|          Camera|Electronics|      10| 599.99|
|  3|            iPad|Electronics|      15| 499.99|
| 10|    Dining Table|  Furniture|      10| 249.99|
| 17|  Leather Jacket|   Clothing|      15| 199.99|
|  9|Beats Headphones|Electronics|      20| 199.99|
| 18|     Winter Coat|   Clothing|      10| 149.99|
| 11|      Study Desk|  Furniture|       8| 149.99|
|  8| Sony Headphones|Electronics|      12| 149.99|
| 27|         Printer|Electronics|       8| 129.99|
| 21|    Coffee Table|  Furniture|       5| 129.99|
| 23|       Bookshelf|  Furniture|      10|  99.99|
|  6|      Nike Shoes|   Clothing|      30|  99.99|
|  7|    Adidas Shoes|   Clothing|      25|  89.99|
| 30|        Sneakers|   Clothing|      40|  79.99|
| 22|    Office Chair|  Furniture|       8|  79.99|
| 28|           Jeans|   Clothing|      30|  59.99|
+---+----------------+-----------+--------+-------+
only showing top 20 rows
>